/***** le header *****/
body {
  padding: 0;
  margin: 0;
  background-image: url(../IMAGE/fondAcier.jpg);
  font-family: monospace;

}

#container {
  background-color: rgba(128, 128, 128, 0.171);
}
.log {
  display:flex; 
}
.hautH {
  display: flex;
  padding: 16px;
  font-weight: lighter;
  -moz-box-shadow: 2px 2px 6px rgb(189, 163, 163);
  -webkit-box-shadow: 2px 2px 6px rgb(228, 214, 214);
  box-shadow: 2px 2px 6px rgb(219, 209, 209);
  margin: 15px;
  background-image: url(../IMAGE/fondT.jpg);
  background-size: cover;
  align-items: center;

}

.logo1 {
  display: flex;
  flex: 1;

}

.logo2 {

  flex: 1;
}

.logo2 img {

  width: 200px;
  height: auto;
}

.logo3 {
  align-items: flex-end;
}

.logoT {
  flex: 3;
  height: 50px;
  width: 50px;
}

.FR {
  height: 30px;
  width: 30px;
  margin: 1vw;
  padding: 3vh;
  margin-right: -30px;
}

.FR:hover,
.ENG:hover {
  cursor: pointer;
}

.ENG {
  height: 30px;
  width: 30px;
  margin: 1vw;
  padding: 3vh;
}


.linkedin {
  flex: 1;
  height: 30px;
  width: 30px;
  margin: 1vw;
  padding: 4vh;

}

/************ nav barre **********/
ul {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  /* repartir dans ma nav barre */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* avoir le fond */
  background-color: rgb(36, 26, 24);
}

li {
  float: left;
  /* les alignés */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* pour pas avoir de soulignement
  */
}

nav a:hover {
  /* change de couleur quand je passe sur le menu */
  color: rgb(239, 146, 2);
  border-bottom: 2px solid rgb(239, 146, 2);
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: rgb(30, 20, 20);
  position: absolute;
  width: 12%;
  z-index: 1000;
  /* pour passer au dessus des elements */
}

nav>ul li:hover .sous {
  display: block;
}

.sous li {
  float: none;
  width: 100%;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background-color: black;
}

.deroulant>a::after {
  content: " ▼";
  font-size: 12px;
}

li a:hover {
  background-color: #111;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


/***** bandeau message *****/


/*********bas ****************/


.bas {
  display: flex;
  font-family: monospace;
  padding: 5%;
  flex-direction: column;

}

.bas1 {

 align-items: center;
  display: flex;
 
}

.bas2 {

  flex-direction: column;
  padding: 5%;
  height: 35vh;
  display: flex;

}

.bas3 {
  margin-top: 50px;
  flex-direction: column;
  padding: 5%;
  height: 8vh;
  display: flex;

}

.bas4 {
  margin-top: 20px;
  flex-direction: column;
  padding: 5%;
  height: 20vh;
  display: flex;

}

.bas5 {
  margin-top: 20px;
  flex-direction: column;
  padding: 5%;
  height: 10vh;
  display: flex;

}

.bas6 {
  margin-top: 50px;
  flex-direction: column;
  padding: 5%;
  height: 10vh;
  display: flex;

}

.bas7 {
  margin-top: 50px;
  flex-direction: column;
  padding: 5%;

  display: flex;

}

.bas8 {

  padding: 5%;
  margin-top: -18vh;
}


.bas9 {

  padding: 5%;
  margin-top: -15vh;
}

.bas9 h2 {
  color: white;
  background: linear-gradient(to right, rgb(243, 154, 0), rgb(41, 5, 5));
}

/****** entreprise ******/
.entreprise img {
  height: 40vh;
  width: 97.5vw;
  margin-top: 10%;
}

/***** histoire *****/
.histoire {
  display: flex;
  justify-content: space-between;
}

/***** effectif *****/

.effectif {
  display: flex;
  justify-content: space-between;
}

/***** chiffre affaire *****/

.CA {
  display: flex;
  justify-content: space-between;
}

/*****Client*****/

.client {
  display: flex;
  justify-content: space-between;
}

/*****fournisseur *****/

.fournisseur {
  display: flex;
  justify-content: space-between;
}

/***** Presentation *****/
.fondOrange {
  color: white;
  background: linear-gradient(to right, rgb(243, 154, 0), rgb(41, 5, 5));
}

.presentation h2 {
  color: white;
  background: linear-gradient(to right, rgb(243, 154, 0), rgb(41, 5, 5));
}

.geographie {

  display: flex;

}

.geographie img {
  height: 220px;
  width: auto;
}

.geographieT {
  padding-top: 5%;
}

/*******bas1 gauche  **************/


.introBG img {
  height: 100px;
  width: 100px;
  margin-top: 5%;
}

/***** basGauche *****/
.basGauche {
  display: flex;
  text-align: center;

}
.basGaucheD { 
  max-width: 180px;
}

/*******bas1 Droite **************/
.basDroite {

  
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.basDroite>* {
  flex: 1 1 10px;
}

/****** veritas *****/

.veritasI {
  /* image */
  padding: 10%;
  width: 175px;
  height: auto;
}

.veritasC {
  /* contenu */
  display: inline-block;
}

.veritasT {
  /* text */
  opacity: 0;
}

.veritasC:hover .veritasT {
  /* passage de souris */

  z-index: 1000;
  border: 2px solid rgba(128, 128, 128, 0.075);
  background-color: rgba(40, 40, 40, 40);
  color: white;
  opacity: 1;
}

/***** mase *****/
.maseI {
  /* image */

  width: 80px;
  height: auto;
}

.maseC {
  /* contenu */
  display: inline-block;
}

.maseT {
  /* text */
  opacity: 0;
}

.maseC:hover .maseT {
  z-index: 1000;
  border: 2px solid rgba(128, 128, 128, 0.075);
  background-color: rgba(40, 40, 40, 40);
  color: white;
  opacity: 1;
}

/***** cefri *****/
.cefriI {
  /* image */
  width: 80px;
  height: auto;
  padding: 20%;
}

.cefriC {
  /* contenu */
  display: inline-block;
}

.cefriT {
  /* text */
  opacity: 0;
}

.cefriC:hover .cefriT {
  z-index: 1000;
  border: 2px solid rgba(128, 128, 128, 0.075);
  background-color: rgba(40, 40, 40, 40);
  color: white;
  opacity: 1;
}

/***** edf *****/
.edfI {
  /* image */
  width: 80px;
  height: auto;
}

.edfC {
  /* contenu */
  display: inline-block;
}

.edfT {
  /* text */
  opacity: 0;
}

.edfC:hover .edfT {
  z-index: 900;
  border: 2px solid rgba(128, 128, 128, 0.075);
  background-color: rgba(40, 40, 40, 40);
  color: white;
  opacity: 1;
}

/***** Message de connexion  *****/

.bienvenue {
  padding-left: 50px;
}

/************ Bandeau ************/
.bandeau {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 5px solid grey;
  color: white;
  background: linear-gradient(to right, rgb(243, 154, 0), rgb(41, 5, 5));
border-radius: 5%;
display: flex;
}

/************* slider *******/



#slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 250px;
}

#slides {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  max-height: 100%;

  animation-name: slide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#slides figure {
  display: inline-block;
  width: 100vw;
  max-height: 100%;
  margin: 0;
}

#slides figure img {
  width: 100%;
  /*Centrer l'image verticalement si celle-ci ne peut être affichée totalement*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#slides figure figcaption {
  position: absolute;
  bottom: 0;
  padding: 2.5em 0;
  font-size: 20px;
  text-align: center;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}


#slides:hover {
  animation-play-state: paused;
  /* Mise en pause de l'animation */
}

/***** histoire *****/

@keyframes slide {

  0%,
  20%,
  100% {
    left: 0;
    /*1ère image*/
  }

  35%,
  50% {
    left: -100vw;
    /*2ème image*/
  }

  70%,
  95% {
    left: -200vw;
    /*3ème image*/
  }
}

@media (max-width: 400px) {
  ul {
    background-color: orange;
  }
}

/************* nos métier ********/

/****** titre ******/
.titrePage {
  color: red;
  padding-left: 5%;
  margin-bottom: -20px;
}

.titreM i {
  /* metier */
  font-size: smaller;
}

.titreM {
  color: white;
  margin-bottom: 3%;
  background: linear-gradient(to right, rgb(243, 154, 0), rgb(41, 5, 5));
}

.titreA span {
  font-size: 17px;
}

/****** metier ******/
.metier {
  display: flex;
  justify-content: space-between;
}

.metier img {
  border-radius: 10%;
  height: 200px;
  width: 200px;
  -webkit-transform: scale(1);
  transform: scale(1);
  /* zoom */
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.metier:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

/**********activité *****/

.activite {
  display: flex;
  justify-content: space-between;
}

.activite img {
  border-radius: 10%;
  height: 200px;
  width: 200px;
  -webkit-transform: scale(1);
  transform: scale(1);
  /* zoom */
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.activite:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

/****** parcM ******/
.parcM {
  display: flex;
  justify-content: space-between;
}

.parcM img {
  border-radius: 10%;
  height: 200px;
  width: 200px;
  -webkit-transform: scale(1);
  transform: scale(1);
  /* zoom */
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.parcM:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}





/***** nos Realisations *****/
.description img {

  width: 280px;
  height: 200px;

}

.description span img {
  width: 50px;
  height: 50px;
}


/*pour le saut de page, on cree une class que l'on met en display:none*/
.target {

  display: none
}


/* englobe le slider */

.cadre_diapo {

  max-width: 280px;
  margin: 2rem auto;
  overflow: hidden;
  box-shadow: 30px -15px rgb(50, 26, 24);

}

.interieur_diapo {

  display: flex;

  width: 200%;
  transition: transform .4s ease-in-out
}

.description {

  position: relative;

}

.description span {

  position: absolute;
  left: 0;
  top: 2%;
  font-size: 75%;
  display: flex;
  padding: .5rem;
  justify-content: center;
  color: white;
  background: hsla(0, 0%, 0%, .35);
  border-radius: 30%;
}

.logoC {
  width: 50px;
  height: 50px;
}

/**** remplissage des cases du diapo *****/

/***** Diapo 1 *****/

#B_id1:target~.cadre_diapo .interieur_diapo {
  transform: translatex(0)
}

/*image 1*/

#B_id2:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-50%)
}

/*image 2*/

#B_id3:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-100%)
}

/*image 3*/

#B_id4:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-150%)
}

/*image 4*/

#B_id5:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-200%)
}

/*image 5*/

/***** Diapo 2 *****/

#C_id1:target~.cadre_diapo .interieur_diapo {
  transform: translatex(0)
}

/*image 1*/

#C_id2:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-50%)
}

/*image 2*/

#C_id3:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-100%)
}

/*image 3*/

#C_id4:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-150%)
}

/*image 4*/

/***** Diapo 3 *****/

#D_id1:target~.cadre_diapo .interieur_diapo {
  transform: translatex(0)
}

/*image 1*/

#D_id2:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-50%)
}

/*image 2*/

#D_id3:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-100%)
}

/*image 3*/

/***** Diapo 4 *****/

#E_id1:target~.cadre_diapo .interieur_diapo {
  transform: translatex(0)
}

/*image 1*/

#E_id2:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-50%)
}

/*image 2*/

#E_id3:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-100%)
}

/*image 3*/

/***** Diapo 5 *****/

#F_id1:target~.cadre_diapo .interieur_diapo {
  transform: translatex(0)
}

/*image 1*/

#F_id2:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-50%)
}

/*image 2*/

#F_id3:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-100%)
}

/*image 3*/

#F_id4:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-150%)
}

/*image 4*/

/***** Diapo 6 *****/

#G_id1:target~.cadre_diapo .interieur_diapo {
  transform: translatex(0)
}

/*image 1*/

#G_id2:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-50%)
}

/*image 2*/

#G_id3:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-100%)
}

/*image 3*/

#G_id4:target~.cadre_diapo .interieur_diapo {
  transform: translatex(-150%)
}

/*image 4*/

/*navigation avec images miniatures*/
.navigation_diapo {

  display: flex;
  /*permet d'aligner les photos les unes à la suite des autres, on peut aussi utiliser le positionnement absolu*/
  list-style-type: none;
  margin: 0;
  padding: 0
}


.navigation_diapo img {

  border: 3px solid white;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, .4);
  width: 50px;
  height: 50px;
  margin: -5px;

}


/***********************************************/
/******HCTS********* HCTS **********HCTS*******/
/*********************************************/

/************* switch de header **************/

.titreH1 {
  padding: 5%;
  color: white;
  background: linear-gradient(to right, rgb(142, 198, 63), rgb(41, 5, 5));
}

.titreH1 span {
  font-size: 20px;
}

.txtG h2 {
  color: white;
  background: linear-gradient(to right, rgb(142, 198, 63), rgb(41, 5, 5));
}

/****** entreprise ******/
.entreprise img {
  height: 40vh;
  width: 97.5vw;
  margin-top: 10%;
}



.fondVert {
  color: white;
  background: linear-gradient(to right, rgb(142, 198, 63), rgb(41, 5, 5));
}


/***** Presentation *****/


.presentationHH h2 {
  color: white;
  background: linear-gradient(to right, rgb(142, 198, 63), rgb(41, 5, 5));
}

.geographie {

  display: flex;
  padding-top: 80px;
}

.geographie img {
  height: 220px;
  width: auto;
}


/*******bas1 gauche  **************/

.introBG img {
  height: 100px;
  width: 100px;
  margin-top: 5%;
}


/*******bas1 Droite **************/
.basDroite {

  flex: 1;
  display: flex;
}

/**** hcts titre *****/

.titreHCTS {
  color: white;
  background: linear-gradient(to right, rgb(142, 198, 63), rgb(41, 5, 5));

}

/***** hover article *****/

/************ Bandeau ************/
.bandeau {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 5px solid grey;
  color: white;

}

/************* slider HCTS*******/

@keyframes slide {

  0%,
  20%,
  100% {
    left: 0;
    /*1ère image*/
  }

  35%,
  50% {
    left: -100vw;
    /*2ème image*/
  }

}


/******* contact *****/


/**** formulaire contact *****/
.formIdent {
  display: flex;

}

.coord {
  color: white;
  background: linear-gradient(to right, rgb(243, 154, 0), rgb(41, 5, 5));
  padding: 5%;
  border-radius: 5%;
}

.idenCIVE img {
  width: 150px;
  height: 150px;
}


form {
  padding-left: 5%;
  margin-top: 50px;
  border: 1px solid white;
  border-radius: 5%;
  color: white;
  background: linear-gradient(to right, rgb(243, 154, 0), rgb(41, 5, 5));
  opacity: 80%;
}

.formulaire {
  flex: 1 1 auto;

}

.cssform {
  padding: 5%;
}

.formulaire input {
  display: flex;

}

.cssform p {
  width: 300px;
  clear: left;
  margin: 0;
  padding: 5px 0 8px 0;
  padding-left: 155px;
  /*width of left column containing the label elements*/
  border-top: 1px dashed gray;
  height: 1%;
}

.cssform label {
  font-weight: bold;
  float: left;
  margin-left: -155px;
  width: 150px;

}


.cssform textarea {
  width: 250px;
  height: 150px;
}


* html .threepxfix {
  margin-left: 3px;
}

/***** recherche emploi *****/

.hautOffre {

  padding: 5%;
}

.basOffre {
  display: flex;
  flex-wrap: wrap;
  /* pour prendre la place dont il a besoin */
  justify-content: space-around;

}

.inter {
  width: calc(25% - 2rem);
  width: calc(50% - 4rem);
  width: calc(75% - 6rem);
  min-width: 200px;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 10px;
  font-size: 0.7em;

}

.LC {
  height: 30px;
  width: auto;
}

.offre {

  margin-top: 10%;
  background-size: cover;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5%;
  color: white;
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, rgb(243, 154, 0), rgb(41, 5, 5));
  margin-top: 10%;
  background-size: cover;


}

input,
button,
.bouton {
  background-color: blanchedalmond;
  border: coral;
  border-radius: 10%;
  margin-top: 5px;
}

input:hover,
button:hover {
  cursor: pointer;
}

.rechercheSite:hover {

  cursor: text;
}

.mesMail {

  color: green;
  font-size: 1.5em;
  padding: 180px 0px 0px 10px;
}

.boutonIns { 
  padding-left: 3%;
}

.navA { color : white; }

/****** offre d'emploi quand on est pas encore connecter *****/ 

.offreCo:hover { 

  
    content: 'Connecter vous pour decouvrir nos offres d\'emploi';
}

footer {

  background-color: rgb(36, 26, 24);
  color: white;
  bottom: 0;
  width: 100%;
  line-height: 4em; /* hauteur de ligne */
  text-align: center;
  height: 50px;

}