body { 
    padding: 0;
    margin: 0;
    background-image:url(../IMAGE/fondAcier.jpg); 
    font-family: monospace;
   }
   #container {
       background-color:rgba(128, 128, 128, 0.171);
   }
  
   .hautH { 
    display: flex;
    padding: 16px;
    font-weight:lighter ;
    -moz-box-shadow: 2px 2px 6px rgb(189, 163, 163);  
    -webkit-box-shadow: 2px 2px 6px rgb(228, 214, 214);  
    box-shadow : 2px 2px 6px rgb(219, 209, 209);  
    margin: 15px;
    background-image:url(../IMAGE/fondT.jpg); 
    background-size: cover;
    align-items: center;
    
   }
   .logo1 { 
     display: flex;
     flex: 1;
   }
   .logo2 { 
  
   flex: 1 ;
  }
  .logo2 img{ 
   
    width: 200px;
    height: auto;
   }
  .logo3 { 
  align-items: flex-end;
  }
  .logoT {
   flex: 3;
    height: 50px;
    width: 50px;
  }
  
  
   .titre{
    font-size: 35px;
    text-shadow: -2px -2px rgb(180, 180, 180), 1px 1px rgb(245, 245, 245), -3px 0 4px rgba(236, 223, 223, 0);
   
    color: rgb(234, 250, 17);
   }
  
  
   .FR {
    height: 30px;
    width: 30px;
     margin: 1vw;
     padding: 3vh;
     margin-right: -30px;
   }
  
   .ENG{
    height: 30px;
    width: 30px;
    margin: 1vw;
    padding: 3vh;
  
   }
     
   .linkedin{
    flex: 1;
    height: 30px;
    width: 30px;
      margin: 1vw;
      padding: 4vh;
     
   }
    /************ nav barre **********/
    ul {
      display: flex;
      justify-content: center;
      justify-content: space-around; /* repartir dans ma nav barre */
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden; /* avoir le fond */
      background-color: rgb(36, 26, 24);
  }
  
  li {
      float: left; /* les alignés */
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; /* pour pas avoir de soulignement
  */}
  nav a:hover{ /* change de couleur quand je passe sur le menu */ 
      color: rgb(142, 198, 63);
      border-bottom: 2px solid rgb(142, 198, 63);
  }
  
  .sous{
      display: none;
      box-shadow: 0px 1px 2px #CCC;
      background-color : rgb(30, 20, 20);
      position: absolute;
      width: 12%;
      z-index: 1000; /* pour passer au dessus des elements */
  }
  nav > ul li:hover .sous{
      display: block;
  }
  .sous li{
      float: none;
      width: 100%;
      text-align: left;
  }
  .sous a{
      padding: 10px;
      border-bottom: none;
  }
  .sous a:hover{
      border-bottom: none;
      background-color: black;
  }
  .deroulant > a::after{
      content:" ▼";
      font-size: 12px;
  }
  
  li a:hover {
      background-color: #111;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
      background-color: #111;
  }
  
/***** intro *****/
.plus H2 { 
    color: white;
    background: linear-gradient(to right, rgb(142, 198, 63), rgb(41, 5, 5));
   
}

/****** Bas ******/ 
.atelier img{ 
    border-radius: 5%;
        height: 100px;
        width: 500px;
    }
    .bas { 
        display: flex;
        font-family: monospace;
        padding: 5%;
        flex-direction: column;
    }
    /****** titre ******/ 
    .titreM i{ /* metier */ 
    font-size: smaller;
    }
    .titreA { 
        color: white;
        margin-bottom: 3%;
        background: linear-gradient(to right, rgb(142, 198, 63), rgb(41, 5, 5));
       
    }
    .titreA span{ 
    font-size: 17px;
    }
    /****** parcM1 ******/ 
    .parcM1 { 
        display: flex;
        justify-content: space-between;
     }
     .parcM1 img  {
       border-radius: 10%;
         height: 200px;
         width: 200px;
             -webkit-transform: scale(1);
             transform: scale(1); /* zoom */ 
             -webkit-transition: .3s ease-in-out;
             transition: .3s ease-in-out;
         }
     .parcM1:hover img {
             -webkit-transform: scale(1.3);
             transform: scale(1.3);
             cursor: pointer;
         }
     
         /****** parcM2 ******/ 
    .parcM2 { 
        display: flex;
        justify-content: space-between;
     }
     .parcM2 img  {
       border-radius: 10%;
         height: 200px;
         width: 200px;
             -webkit-transform: scale(1);
             transform: scale(1); /* zoom */ 
             -webkit-transition: .3s ease-in-out;
             transition: .3s ease-in-out;
         }
     .parcM2:hover img {
             -webkit-transform: scale(1.3);
             transform: scale(1.3);
             cursor: pointer;
         }
      /****** parcM3 ******/ 
    .parcM3 { 
        display: flex;
        justify-content: space-between;
     }
     .parcM3 img  {
       border-radius: 10%;
         height: 200px;
         width: 200px;
             -webkit-transform: scale(1);
             transform: scale(1); /* zoom */ 
             -webkit-transition: .3s ease-in-out;
             transition: .3s ease-in-out;
         }
     .parcM3:hover img {
             -webkit-transform: scale(1.3);
             transform: scale(1.3);
             cursor: pointer;
         }
       /****** parcM4 ******/ 
    .parcM4 { 
        display: flex;
        justify-content: space-between;
     }
     .parcM4 img  {
       border-radius: 10%;
         height: 200px;
         width: 200px;
             -webkit-transform: scale(1);
             transform: scale(1); /* zoom */ 
             -webkit-transition: .3s ease-in-out;
             transition: .3s ease-in-out;
         }
     .parcM4:hover img {
             -webkit-transform: scale(1.3);
             transform: scale(1.3);
             cursor: pointer;
         }
        /****** parcM5 ******/ 
    .parcM5 { 
        display: flex;
        justify-content: space-between;
     }
     .parcM5 img  {
       border-radius: 10%;
         height: 200px;
         width: 200px;
             -webkit-transform: scale(1);
             transform: scale(1); /* zoom */ 
             -webkit-transition: .3s ease-in-out;
             transition: .3s ease-in-out;
         }
     .parcM5:hover img {
             -webkit-transform: scale(1.3);
             transform: scale(1.3);
             cursor: pointer;
         }
     
         /****** parcM6 ******/ 
    .parcM6 { 
        display: flex;
        justify-content: space-between;
     }
     .parcM6 img  {
       border-radius: 10%;
         height: 200px;
         width: 200px;
             -webkit-transform: scale(1);
             transform: scale(1); /* zoom */ 
             -webkit-transition: .3s ease-in-out;
             transition: .3s ease-in-out;
         }
     .parcM6:hover img {
             -webkit-transform: scale(1.3);
             transform: scale(1.3);
             cursor: pointer;
         }
     
              /****** parcM7 ******/ 
    .parcM7 { 
        display: flex;
        justify-content: space-between;
     }
     .parcM7 img  {
       border-radius: 10%;
         height: 200px;
         width: 200px;
             -webkit-transform: scale(1);
             transform: scale(1); /* zoom */ 
             -webkit-transition: .3s ease-in-out;
             transition: .3s ease-in-out;
         }
     .parcM7:hover img {
             -webkit-transform: scale(1.3);
             transform: scale(1.3);
             cursor: pointer;
         }
     
              /****** parcM8 ******/ 
    .parcM8 { 
        display: flex;
        justify-content: space-between;
     }
     .parcM8 img  {
       border-radius: 10%;
         height: 200px;
         width: 200px;
             -webkit-transform: scale(1);
             transform: scale(1); /* zoom */ 
             -webkit-transition: .3s ease-in-out;
             transition: .3s ease-in-out;
         }
     .parcM8:hover img {
             -webkit-transform: scale(1.3);
             transform: scale(1.3);
             cursor: pointer;
         }
     
  
         /****** parcH1 ******/ 
         .parcH1 { 
            display: flex;
            justify-content: space-between;
         }
         .parcH1 img  {
           border-radius: 10%;
             height: 200px;
             width: 200px;
                 -webkit-transform: scale(1);
                 transform: scale(1); /* zoom */ 
                 -webkit-transition: .3s ease-in-out;
                 transition: .3s ease-in-out;
             }
         .parcH1:hover img {
                 -webkit-transform: scale(1.3);
                 transform: scale(1.3);
                 cursor: pointer;
             }

                 /****** parcH2 ******/ 
         .parcH2 { 
            display: flex;
            justify-content: space-between;
         }
         .parcH2 img  {
           border-radius: 10%;
             height: 200px;
             width: 200px;
                 -webkit-transform: scale(1);
                 transform: scale(1); /* zoom */ 
                 -webkit-transition: .3s ease-in-out;
                 transition: .3s ease-in-out;
             }
         .parcH2:hover img {
                 -webkit-transform: scale(1.3);
                 transform: scale(1.3);
                 cursor: pointer;
             }

                 /****** parcH3 ******/ 
         .parcH3 { 
            display: flex;
            justify-content: space-between;
         }
         .parcH3 img  {
           border-radius: 10%;
             height: 200px;
             width: 200px;
                 -webkit-transform: scale(1);
                 transform: scale(1); /* zoom */ 
                 -webkit-transition: .3s ease-in-out;
                 transition: .3s ease-in-out;
             }
         .parcH3:hover img {
                 -webkit-transform: scale(1.3);
                 transform: scale(1.3);
                 cursor: pointer;
             }