body { 
    padding: 0;
    margin: 0;
    background-color: rgb(174, 170, 152);
    font-family: monospace;
   }
   #container {
       background-color:rgba(128, 128, 128, 0.171);
   }

   .hautH { 
    display: flex;
    padding: 16px;
    font-weight:lighter ;
    -moz-box-shadow: 2px 2px 6px rgb(189, 163, 163);  
    -webkit-box-shadow: 2px 2px 6px rgb(228, 214, 214);  
    box-shadow : 2px 2px 6px rgb(219, 209, 209);  
    margin: 15px;
    background-image:url(../IMAGE/fondT.jpg); 
    background-size: cover;
    align-items: center;
    
   }
   .logo1 { 
     display: flex;
     flex: 1;
   }
   .logo2 { 
  
   flex: 1 ;
  }
  .logo2 img{ 
   
    width: 200px;
    height: auto;
   }
  .logo3 { 
  align-items: flex-end;
  }
.logoT {
   flex: 3;
    height: 50px;
    width: 50px;
}
  

   .titre{
    font-size: 35px;
    text-shadow: -2px -2px rgb(180, 180, 180), 1px 1px rgb(245, 245, 245), -3px 0 4px rgba(236, 223, 223, 0);
    color: rgb(234, 250, 17);
   }


   .FR {
    height: 30px;
    width: 30px;
     margin: 1vw;
     padding: 3vh;
     margin-right: -30px;
   }

   .ENG{
    height: 30px;
    width: 30px;
    margin: 1vw;
    padding: 3vh;
  
   }
     
   .linkedin{
    flex: 1;
    height: 30px;
    width: 30px;
      margin: 1vw;
      padding: 4vh;
     
   }
   
   /************ nav barre **********/
   ul {
    display: flex;
    justify-content: center;
    justify-content: space-around; /* repartir dans ma nav barre */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* avoir le fond */
    background-color: rgb(36, 26, 24);
}

li {
    float: left; /* les alignés */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* pour pas avoir de soulignement
*/}
nav a:hover{ /* change de couleur quand je passe sur le menu */ 
    color: rgb(239, 146, 2);
    border-bottom: 2px solid rgb(239, 146, 2);
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color : rgb(30, 20, 20);
    position: absolute;
    width: 12%;
    z-index: 1000; /* pour passer au dessus des elements */
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: black;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

li a:hover {
    background-color: #111;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/****** Bas ******/ 
.bas { 
    display: flex;
    font-family: monospace;
    padding: 5%;
    flex-direction: column;
}
/****** titre ******/ 
.titreM i{ /* metier */ 
font-size: smaller;
}
.titreM { 
    color: white;
    margin-bottom: 3%;
    background: linear-gradient(to right, rgb(243, 154, 0), rgb(41, 5, 5));
}

/****** metier1 ******/ 
.metier1 { 
   display: flex;
   justify-content: space-between;
}
.metier1 img  {
  border-radius: 10%;
    height: 200px;
    width: 200px;
        -webkit-transform: scale(1);
        transform: scale(1); /* zoom */ 
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
.metier1:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        cursor: pointer;
    }

/****** metier2 ******/ 
.metier2 { 
    display: flex;
    justify-content: space-between;
 }
 .metier2 img  {
   border-radius: 10%;
     height: 200px;
     width: 200px;
         -webkit-transform: scale(1);
         transform: scale(1); /* zoom */ 
         -webkit-transition: .3s ease-in-out;
         transition: .3s ease-in-out;
     }
 .metier2:hover img {
         -webkit-transform: scale(1.3);
         transform: scale(1.3);
         cursor: pointer;
     }

 /****** metier3 ******/ 
.metier3 { 
    display: flex;
    justify-content: space-between;
 }
 .metier3 img  {
   border-radius: 10%;
     height: 200px;
     width: 200px;
         -webkit-transform: scale(1);
         transform: scale(1); /* zoom */ 
         -webkit-transition: .3s ease-in-out;
         transition: .3s ease-in-out;
     }
 .metier3:hover img {
         -webkit-transform: scale(1.3);
         transform: scale(1.3);
         cursor: pointer;
     }
 
     /****** metier4 ******/ 
.metier4 { 
    display: flex;
    justify-content: space-between;
 }
 .metier4 img  {
   border-radius: 10%;
     height: 200px;
     width: 200px;
         -webkit-transform: scale(1);
         transform: scale(1); /* zoom */ 
         -webkit-transition: .3s ease-in-out;
         transition: .3s ease-in-out;
     }
 .metier4:hover img {
         -webkit-transform: scale(1.3);
         transform: scale(1.3);
         cursor: pointer;
     }
 
          /****** metier5 ******/ 
.metier5 { 
    display: flex;
    justify-content: space-between;
 }
 .metier5 img  {
   border-radius: 10%;
     height: 200px;
     width: 200px;
         -webkit-transform: scale(1);
         transform: scale(1); /* zoom */ 
         -webkit-transition: .3s ease-in-out;
         transition: .3s ease-in-out;
     }
 .metier5:hover img {
         -webkit-transform: scale(1.3);
         transform: scale(1.3);
         cursor: pointer;
     }
 